@import 'base/font.face';
@import 'base/reset';
@import 'base/vars';

@import 'global/global';

.ten-wrapper {
  & .container {
    padding: 0;
    height: auto;
  }
}
.page-ten__container {
  background: #2B2C2D;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0; 
    right: 0;
    width: 430px;
    height: 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.73) 100%);
    transform: rotate(180deg);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 430px;
    height: 583px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.73) 100%);
  }
}
.page-ten {
  position: relative;
  z-index: 2;
  height: 100%;
  &__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);
    padding: 0 13px 0;
  }
  &__label {
    color: #FFF;
    font-family: "Signate Grotesk";
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.44px;
    padding-bottom: 14px;
  }
  &__number {
    color: #FFF;
    font-family: "Signate Grotesk";
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.44px;
    padding: 35px 61px 14px 13px;
    border-left: 1px solid rgba(255, 255, 255, 0.40);
  }
  &__body {
    padding: 17px 0 0;
  }
  &__info {
    padding: 0 21px;
  }
  &__title {
    color: #FFF;
    text-shadow: 0px 3.554px 17.769px rgba(0, 0, 0, 0.25);
    font-family: "Signate Grotesk";
    font-size: 35.947px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.719px;
    text-transform: uppercase;
    margin-bottom: 23px;
    max-width: 358px;
    & span {
      color: #CEFF0A;
      font-family: "Signate Grotesk";
      font-weight: 900;
    }
  }
  &__description {
    color: #FFF;
    font-family: Gilroy;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.36px;
    max-width: 387px;
    margin-bottom: 40px;
  }
  &__person {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 28px 23px;
    padding: 0 16px;
  }
  &__card {
    max-width: 117px;
    & img {
      border-radius: 50%;
      width: 100%;
    }
  }
  &__link {
    position: fixed;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    padding: 6px 6px 6px 14px;
    color: #000;
    font-family: "Signate Grotesk";
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1.4px;
    border: solid 1px #000;
    background-color: #fff;
    width: 307px;
    z-index: 2;
  }
}