body {
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 430px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100dvh;
  min-height: -wedkit-fill-available;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}