@font-face {
  font-family: 'Signate Grotesk';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/SignateGrotesk-Black.woff2') format('woff2');
}
@font-face {
  font-family: Gilroy;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Gilroy-Light.woff2') format('woff2');
}
@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Comic-Sans-MS.woff2") format("woff2"),
}
